* {
  margin: 0;
  padding: 0;
}
.my-navbar {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: #f4f5fc;
  padding: 24px 48px 32px 48px;
}
.button-one {
  padding: 8px 24px 8px 24px;
  border-radius: 32px;
  background-color: #13183f;
  color: #f4f5fc;
  font-size: 26px;
  font-weight: 600;
}
.skilled-svg {
  object-fit: contain;
  width: 88px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  margin-bottom: 0;
  padding-left: 64px;
  background-color: #f4f5fc;
}
.top-body-box {
  background-color: #f4f5fc;
  padding: 0px 0px 160px 48px;
  width: 100%;
}
.head-Content {
  font-size: 38px;
  font-weight: 700;
  margin: 0 0 22.4px 0;
  padding: 64 px;
}
.head-text {
  color: #83869a;
  font-size: 16px;
  margin-bottom: 27.2px;
}
.button-two {
  border-radius: 32px;
  padding: 16px 32px 16px 32px;
  text-decoration: none;
  color: white;
  background-color: violet;
}
.picture {
  width: 500px;
  height: 500px;
  padding: 32px;
}
.top-box {
  display: flex;
  flex-direction: row;
}
.body-box-grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  padding: 0 32px 0 32px;
  margin-bottom: 73.6px;
}
.item-box-color {
  display: flex;
  flex-direction: column;
  padding: 140px 16px 140px 16px;
  border-radius: 8px;
  color: white;
  margin: 40px;
  background-color: palevioletred;
}
